Pay with <%= link_to(image_tag(payment_method.preferred_image_url, class: 'nets_btn'), enets_proceed_url(pid: payment_method.id), method: :post, onclick: "Enets.checkOutx(#{@txn_req}, #{@hmac}, #{@key_id})", class: 'link_nets_btn') %>


<div class="payment-section">
  <fieldset>
      <div id="ajaxResponse"></div>
  </fieldset>
</div>

<form class="input-form">
  <span class="a">Transaction Amount:   <input class="input" id="txnAmt" type="decimal" name="txnAmt" placeholder=""></span>
  <br><br>
  <input type="submit" value="Generate Payload">
  <br>
  <br>
  <div class="a">Transaction Request:</div> <%= text_area_tag(:txn_req, @txn_req, size: "100x6") %>
  <div class="a">HMAC:</div>  <%= text_area_tag(:hmac, @hmac, size: "100x1") %>
  <div class="a">Key ID:</div> <%= text_area_tag(:keyID, @key_id, size: "100x1") %>
  <br>
  <br>
  <input type="button" value="Send Payload" onclick="checkOut()" style="font-size : 15px;">
</form>

<script>
function checkOut() {
  // window.alert(txn_req.value);
  console.log(txn_req.value);
  console.log(hmac.value);
  console.log(keyID.value);
  sendPayLoad(txn_req.value, hmac.value, keyID.value);
};
</script>

<style>
  .nets_btn{
    height: 30px;
    padding-bottom: 5px;
  }

  .link_nets_btn{
    border: 1px red solid;
    padding: 10px 5px 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 150px;
  }
</style>

<script>
  Enets = {
      updateSaveAndContinueVisibility: function() {
        if (this.isButtonHidden()) {
          $(this).trigger('hideSaveAndContinue')
        } else {
          $(this).trigger('showSaveAndContinue')
        }
      },
      isButtonHidden: function () {
        paymentMethod = this.checkedPaymentMethod();
        return (!$('#use_existing_card_yes:checked').length && Enets.paymentMethodID && paymentMethod.val() == Enets.paymentMethodID);
      },
      checkedPaymentMethod: function() {
        return $('div[data-hook="checkout_payment_step"] input[type="radio"][name="order[payments_attributes][][payment_method_id]"]:checked');
      },
      hideSaveAndContinue: function() {
        $("#checkout_form_payment [data-hook=buttons]").hide();
      },
      showSaveAndContinue: function() {
        $("#checkout_form_payment [data-hook=buttons]").show();
      },
      checkOutx: function(txn_req, hmac, key_id) {
        console.log("txn_req" + txn_req);
        console.log("hmac" + hmac);
        console.log("key_id" + key_id);
        console.log("--------------");

        sendPayLoad(txn_req, hmac, key_id);
      }
    }

    $(document).ready(function() {
      Enets.updateSaveAndContinueVisibility();
      paymentMethods = $('div[data-hook="checkout_payment_step"] input[type="radio"]').click(function (e) {
        Enets.updateSaveAndContinueVisibility();
      });
    })
    Enets.paymentMethodID = "<%= payment_method.id %>"
</script>
